@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* declare root/general variables */
:root{
    /* lh is line height */
    --small-font-lh:130%;
    --large-font-lh:140%;

    --letter-space:0%;
    --primary-font: "Inter";

    /* nav bar shades */
    --grey-50:#656266;
    --grey-100: #616161;
    --grey-200: #322F33;
    --grey-300: #1C181D;

    /* font sizes */
    --sm-font-sz:0.75rem; /* 12px */
    --md-font-sz: 0.81rem ;/* 13px */
    --lg-font:0.875rem; /* 13px */

    /* small font */
    --font-sm-reg: 400 0.75rem/var(--small-font-lh) var(--primary-font);
    --font-sm-med: 500 0.75rem/var(--small-font-lh) var(--primary-font);
    --font-sm-sb: 600 0.75rem/var(--small-font-lh) var(--primary-font);

    /* medium font */
    --font-md-reg: 400 0.81rem/var(--large-font-lh) var(--primary-font);
    --font-md-med: 500 0.81rem/var(--large-font-lh) var(--primary-font);
    --font-md-sb: 600 0.81rem/var(--large-font-lh) var(--primary-font);

    --font-lg-med: 500 0.875rem/var(--large-font-lh) var(--primary-font);
    --font-lg-sb: 600 0.875rem/var(--large-font-lh) var(--primary-font);


    /* font colours */
    --font-clr-light: #E3E3E3;
    --font-clr-mid: #616161;
    --font-clr-dark: #475467;

    /* stroke colours */
    --s50:#EBEBEB;
    --s100: #E1E1E1;
    --s200: rgba(255,255,255,0.2);

    /* state colours */
    --hover-clr:#F7F7F7;
    --pressed-clr:#F0F0F0;
    --focused-clr:#005BD3;

    /* background colours */
    --bg-white: #FFF;
    --bg-background:#F1F1F1;

    --primary-padding: max(2vh, 1rem);
    --main-padding-inline: max(20vw,10rem)
    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    letter-spacing: var(--letter-space);
}

@media screen and (max-width:1024px) {
    :root{
        --main-padding-inline: 0px;
    }
}

body{
    font-family: var(--primary-font),sans-serif;
    background: var(--bg-background);
}

button{
    cursor: pointer;
}

nav{
    background-color: var(--grey-300);
    padding: var(--primary-padding);
    display: flex;
    justify-content: space-between;
    gap: 5px;
    
}

.searchBar{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 40%;
    min-width: 200px;
    background: var(--grey-200);
    border-radius: 10px;
    padding: 0.5rem;
    border: 1px solid var(--grey-100);   
}

.searchBar:focus-within{
    border: 2px solid #fff;
}

.searchBar:hover{
    border: 1px solid var(--s100);
}

.searchBar input{
    background: none;
    width: 100%;
    border: none;
    font: var(--font-md-med);
    color: white;
}

.searchBar input:placeholder-shown{
    color: var(--grey-100);
}

.searchBar input:focus{
    outline: none;
}

.info{
    display: flex;
    gap: 0.6rem;
}

.info button{
    border-radius: 5px;
    border: none;
    padding: 3px;
    display: flex;
    align-items: center;
    font-family: var(--primary-font);
}

.bell button{
    background: var(--grey-200);
}

.bell button:hover, .info>div:last-child:hover{
    background: var(--grey-100);
}
.bell button:active, .info>div:last-child:active{
    background: var(--grey-50);
}
.bell button:focus, .info>div:last-child:focus-within{
    background: var(--grey-50);
    box-shadow: 0px 0px 0px 3px var(--focused-clr), 0px 0px 0px 1px #000;
}


.alert, .dropdown{
    position: absolute;
    background: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.05); 
    border-radius: 14px;
    padding: 1rem;
    min-width: 326px;
    top: calc(100% + 10px);
    z-index: 1;
    display: none;
}

.alert{
    right: 50%;
    transform: translateX(50%);
    color: #303030;
}

.alert-header{
    display: flex;
    justify-content: space-between;
    font: var(--font-lg-sb);
}

.alert p{
    background: var(--bg-background);
    text-align: center;
    padding: 16px;
    margin-top: 16px;
    font: var(--font-md-sb);
}

.info>div:last-child{
    display: flex;
    background: var(--grey-200);
    padding: 3px;
    border-radius: 10px;
    gap: 10px;
}

.profile{
    padding: 3px;
}

.userStore{
    color: white;
    display: none !important;
    background: transparent;
    font: var(--font-sm-med);
}

.initial{
    background-color: #36FBA1 !important;
    color: rgba(0,0,0,0.4);
    border-radius: 10px;
    width: 30px;
    aspect-ratio: 1;
    justify-content: center;
    font: var(--font-sm-med);
}

.dropdown{
    flex-direction: column;
    right: calc(0% + 20px);
    transform: translateX(0%);
    padding: 0px;
    display: none;
    font: var(--font-md-reg);
}

#gmail{
    color: var(--font-clr-mid);
}

.dropdown>div{
    border-bottom: 0.75px solid #E1E1E1;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    padding-block: 10px;
}

.dropdown>div:last-child{
    border-bottom: 0px;
}

.dropdown>div:first-child{
    padding: 10px;
}
.stores{ gap : 12px;}
.stores h4{
    background: var(--bg-background);
    padding: 4px 12px 4px 8px;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.stores .initial{
    border: none;
}

.dropdown a{
    cursor: pointer;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.dropdown a:hover{
    background: var(--bg-background);
    padding: 10px;
    border-radius: 5px;
}
#user{
    padding-inline: 10px;
}

.dropdown a:focus{
    border: 2px solid var(--focused-clr);
}
.all-stores{
    display: flex;
    align-items: center;
    gap: 5px;  
}


main{
    display: flex;
    flex-direction: column;
    padding-inline: var(--main-padding-inline);
    margin-top: max(5vh,2rem);
    background-color: var(--bg-background);
}

.extend{
    background-color: var(--grey-300);
    color: white;
    padding: var(--primary-padding);
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 0.5rem;
}

.extend p{
    font: var(--font-md-med);
}

.extend-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.dismiss{
    background-color: transparent;
    border: none;
}

.controls{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 15px;
    right: 10px;
}


.extend div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.extend a{
    background: var(--bg-white);
    border: rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 7px;
    text-decoration: none;
    color: #323232;
    box-shadow: 
    inset 0px -1px 0px 0px #b5b5b5;
    font: var(--font-sm-sb);
}

.extend a:hover{
    background: var(--hover-clr);
}

.extend a:active{
    background: var(--hover-clr);
    box-shadow: inset 0px 2px 1.5px 0px #e2e2e2;
}

.extend a:focus{
    background: var(--bg-white);
    box-shadow:
    0px 0px 0px 1px #fff,
    0px 0px 0px 3px var(--focused-clr);
}

.setup{
    margin-block: 20px;
    background: var(--bg-white);
    padding: 15px;
    position: relative;
    
}

.setup> div:first-child{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.setup .controls:hover{
    background: var(--bg-background);
}
.intro{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font: var(--font-lg-sb);
}

.intro p{
    font:var(--font-md-reg)
}

#completion-statement{
    font: var(--font-sm-reg);
}

.progress{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.progress-bar{
    border-radius: 5px;
    background: var(--font-clr-light);
    width: 150px;
    height: 10px;
    position: relative;
}

.progress-bar-incomplete{
    background: var(--font-clr-light);
    width: 100%;
    border-radius: 5px;
    height: 100%;
}

.progress-bar-complete{
    background: var(--grey-300);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 0%;
    height: 100%;
}

.progress-bar-incomplete, .progress-bar-complete{
    position: absolute;
}

.allSteps{
    gap: 2px;
    margin-block: 20px;
}

.steps{
    align-items: start;
    padding: 0px;
    vertical-align: top;
    cursor: pointer;
}

.steps div [open]{
    background: var(--bg-background);
    border-radius: 10px;
}

.steps>div details{
    padding: 8px 8px 12px 0px;
}

.step-description{
    display: flex;
    justify-content: space-between;
    align-items: start;
    font: var(--font-md-med);
    color: var(--font-clr-mid);
}

.step-text{
    display: flex;
    flex-grow: 1;
    /* flex-basis: 600px; */
    flex-direction: column;
    margin-inline: 32px;
    max-width: 600px;
    gap: 1rem;
    
}

.step-text a{
    color: var(--focused-clr);
    text-decoration: none;
}
.step-text button:first-of-type{
    width: fit-content;
    padding: 7px;
    border-width: 1.5px 1.5px 0px 1.5px;
    border-color: rgba(255,255,255,0.2);
    border-radius: 6px;
    font: var(--font-sm-sb);
    color: white;
    background-color: #404040;
    box-shadow: 
    0px 2px 0px 0px #000,
    0px 1px 0px 1.5px #333,
    0px 0px 0px 1.5px #333;
}

.step-text button:first-of-type:hover{
    background: #2A2A2A;
}
.step-text button:first-of-type:active{
    background: #2B2B2B;
    box-shadow: 
    inset 0px 3px 0px 0px #000,
    0px 0px 0px 1.5px #333;
}
.step-text button:first-of-type:focus{
    box-shadow: 
    0px 0px 0px 1.5px #333,
    0px 0px 0px 3px #fff, 
    0px 0px 0px 5px var(--focused-clr);
}



.step-text button:nth-of-type(2){
    width: fit-content;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font: var(--font-sm-sb);
    color:#323232;
    background-color: transparent;
}

.step-text button:nth-of-type(2):hover{
    background: #e7e7e7;
}
.step-text button:nth-of-type(2):active{
    background: #e0e0e0;
}
.step-text button:nth-of-type(2):focus{
    background: #fff;
    border: 2px solid var(--focused-clr);
}

.step-image{
    display: none; 
    margin-top: -30px;
} 

.step-image img{
    mask-image: linear-gradient(to bottom,rgba(255, 255, 255,1), rgba(255,255,255,1),rgba(255,255,255,0));
    mask-image: -webkit-linear-gradient(to bottom,rgba(255, 255, 255,1), rgba(255,255,255,1),rgba(255,255,255,0));
    -webkit-mask-image: linear-gradient(to bottom,rgba(255, 255, 255,1), rgba(255,255,255,1),rgba(255,255,255,0));  
    width: 150px;
}

details summary{
    list-style: none;  
    list-style-type: none;
    display: block; 
}

summary::-webkit-details-marker {
    display: none
}


.step-select{
    vertical-align: middle;
    background-color: transparent;
    border: none;
}

.summary-heading{
    font: var(--font-md-med);
}

details[open] .summary-heading{
    font: var(--font-md-sb);
}

@media screen and (min-width:600px) {
    .alert,.dropdown{
        right: calc(0% + 20px);
        transform: translateX(0%);
    }
}

@media screen and (min-width:1024px) {
    .extend, .setup{
        /* gap: 200px; */
        border-radius: 10px;
    }  
    
    .userStore{
        display: inline-block !important;
    }

    .step-image{
        display: block;
    } 

    .alert, .dropdown{
        right: calc(0% + 20px);
        transform: translateX(0%);
    }
}